---
title: Blog
layout: default
---

<div class="container">
	<section class="background">
		<div class="content-wrapper">
			<div class="logoarea">
				<div class="intro">
					<h1><span class="smaller wow zoomIn" data-wow-duration="2s"
							data-wow-delay="0.5">{{site.slogan}}</span>
						<span class="big wow pulse" data-wow-duration="1s" data-wow-delay="0s">{{site.title}}</span>
						<span class="small wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s">- Cosmetología
							-</span>
					</h1>
				</div>
			</div>
			<div class="pagearea">
				<h1 class="page-headline">BLOG</h1>
				<i class="iconstartitle textmagenta fa fa-star"></i>
				{% for post in site.posts %}
				<h1 class="entry-title">{{ post.title }}</h1>
				<p>{{ post.description }} <a href="{{ post.url }}"
						class="readmore">Leer Más</a></p>
				{% endfor %}		
			</div>
		</div>
	</section>
</div>


{% include footer.html %}

{% include scripts.html %}