<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "LocalBusiness",
      "url": "https://esmebeautycare.com",
      "image": [
          "https://esmebeautycare.com//img/logo/og-img.png"
        ],
      "@id": "https://esmebeautycare.com",
      "name": "Esme Beauty Care - Cuidado Facial",
      "sameAs" : [
          "https://www.facebook.com/EsmeBeautyCare",
          "https://www.instagram.com/esmebeautycare"
          ],
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "Romualdo Gallardo Orozco 1317",
        "addressLocality": "Playas de Rosarito",
        "addressRegion": "Baja California",
        "postalCode": "22706",
        "addressCountry": "MX"
      },
      "geo": {
        "@type": "GeoCoordinates",
        "latitude": 32.384349,
        "longitude": -117.047545
      },
      "url": "https://esmebeautycare.com",
      "telephone": "+5216618507063",
      "priceRange": "$$"
      ,"openingHoursSpecification": [
        {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": [
            "Monday",
            "Tuesday"
          ],
          "opens": "12:00",
          "closes": "19:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": [
            "Wednesday",
            "Thursday",
            "Friday"
          ],
          "opens": "12:00",
          "closes": "19:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": "Saturday",
          "opens": "appointment",
          "closes": "appointment"
        },
        {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": "Sunday",
          "opens": "closed",
          "closes": "closed"
        }
       ]          
    }
</script>