<section class="background">
    <div class="content-wrapper">
        <div class="testimonialarea">
            <div class="testimonialarea-bubble">
                <div class="testimonial-widget">
                    <h3 class="uppercase">BEAUTTIO MADE ME BEAUTIFUL</h3>
                    <div class="testimonial">
                        <p>
                            "They took care of my wedding, everyone asked me who was my stylist. Great prices, great
                            staff!"
                        </p>
                        <p>
                            <strong>Cindy, New York</strong>
                        </p>
                    </div>
                    <div class="testimonial">
                        <p>
                            "I am a regular customer of their services, once I pay them a visit I am a different
                            person."
                        </p>
                        <p>
                            <strong>Layana, Munchen</strong>
                        </p>
                    </div>
                    <div class="testimonial">
                        <p>
                            "Thank you so much, Beauttio, you have one of the best hairstylists aroung, I give it 5 <i
                                class="fa fa-star"></i>."
                        </p>
                        <p>
                            <strong>Jane, London</strong>
                        </p>
                    </div>
                    <button class="prev-testimonial">Prev</button>
                    <button class="next-testimonial">Next</button>
                </div>
            </div>
            <div class="contactform-bubble">
                <form autocomplete="off" class="contactform" method="post" action="contact.php" id="contactform">
                    <input name="name" type="text" placeholder="Name">
                    <input name="email" type="text" placeholder="E-mail">
                    <textarea name="comment" placeholder="Message" rows="4"></textarea>
                    <input value="SEND" type="submit" id="submit" class="btnsend">
                    <div class="done">
                        <div class="alert-box success">
                            <i>Message sent! We'll answer shortly.</i>
                        </div>
                    </div>
                </form>
            </div>
            <div class="contactaddress-bubble">
                <div class="contactaddress">
                    {{site.address}}<br />
                    <a class="map" href="#">Mapa</a>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="footer">
    <div class="container">
        <div class="pull-left">&copy;Diseñado por <a href="https://rosaritocentro.com">RosaritoCentro.com</a></div>
        <div class="pull-right">
            <div class="footericons">
                <a href="{{site.facebook_username}}"><i class="fa fa-facebook"></i></a>
                <a href="{{site.instagram_username}}"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-yelp"></i></a></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</footer>